<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.barcodescanner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera.autofous" /> <!-- <uses-feature android:name="android.hardware.camera" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Book Bazar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".sellerdetails"></activity>
        <activity android:name=".detailedBuy" />
        <activity android:name=".catactfinal" />
        <activity android:name=".buydetails" />
        <activity android:name=".loadbuydetails" />
        <activity android:name=".signupform" />
        <activity android:name=".forgotpass" />
        <activity android:name=".Login" />
        <activity android:name=".firstpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".backgroundfp" />
        <activity android:name=".background" />
        <activity android:name=".catact" />
        <activity android:name=".isbninput" />
        <activity android:name=".bookinput" />
        <activity android:name=".fetchbutdetails" />
        <activity android:name=".buybookdetails" />
        <activity
            android:name=".buysellcat"
            android:label="@string/title_activity_buysellcat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sellinput" />
        <activity android:name=".fetchbuydetails" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.barcodescanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>